@charset "utf-8";

/*ν—¤λ”*/
#header{
    position:absolute;
    width:100%;
    z-index:1;
}
#header .inner{position:relative;}
.headerBox{
    margin:10px auto;
}
.logo{
    float:left;
}
.logo a{}
.logo img{}

.gnb{
    float:right;
    padding:15px;
}
.gnb li{
    float:left;
    margin-right:30px;
}
.gnb li:last-child{margin-right:0;}
.gnb li a{}

.search{
    width:21px;
    height:21px;
    background:url(../images/common/searchIco.png) no-repeat;
    text-indent:-9999px;
    margin-top:3px;
}
.search a{display:block;}

/*ν‘Έν„°*/
#footer{
    text-align:center;
    color:#c82e3f;
    padding:50px 0;
}
#footer p{margin:15px 0;}
.sns{margin:30px 0;}
.sns a{padding:0 10px;}
.sns img{}
