@charset "utf-8";

/*웹뷰*/
.panel,.mCon03Search,.mMainCon04{display:none;}


/*모바일뷰*/
@media screen and (max-width:768px){   /*반응형 관련 내용은 여기 중괄호 안에 다 넣어야됨*/
    /*웹공통*/
    body{min-width:auto;}
    .inner{width:auto;}
    
    /*모바일디폴트*/
    h2{
        margin-bottom: 20px;
        font-size: 30px;
    }
    /*모바일뷰*/
    .gnb,.mainSlider img,.mainCon01,.news li p,.tab_content .webOnly{display:none;}
    .panel{display:block;}
    
    /*헤더*/
    .logo{margin-left:10px;}
    .panel{
        width:40px;
        height:40px;
        position:absolute;
        right:0;
        top:0;
        text-indent:-9999px;
    }
    .panel a{
        display:block;
        padding:12px 0;
    }
    .panel a::before,.panel span,.panel a::after{
        content:"";
        display:block;
        width:20px;
        height:2px;
        background:#333;
        margin:0 auto;
    }
    .panel span{
        margin:5px auto;
    }
    
    /*메인슬라이더*/
    .mainSlider{
        background:url(../images/media/mainSliderBg.png) no-repeat;
        background-size:100%;
        height:640px;
    }
    .txtBox{
    position:static;
    width:100%;
    margin:0 auto;
    margin-top:280px;
    background:rgba(255,255,255,0.5);
    padding:20px 0;
    }
    .title{text-align:center;}
    .title p{font-size:16px;}
    .title h2{
        font-size:40px;
        line-height:40px;
        margin-top:10px;
        margin-bottom:10px;
    }
    .title span{
        font-size:24px;
        text-align:center;
    }
    .moreBtn{margin:0 auto;}
    .moreBtn a{font-size:16px;}
    
    /*메인컨텐츠2*/
    .mainCon02{padding:50px 0 30px 0;}
    .news li{
        width:33.3%;
        margin-right:0;
    }
    .news li img{width:100%;}
    .news li h4{
        text-align:center;
        font-size:16px;
        margin-top:10px;
        font-weight:400;
    }
    
    /*메인컨텐츠3*/
    .mainCon03{
        width:100%;
        height:auto;
        background:#DDD1C1;
        position:relative;
    }
    .mainCon03 li{float:none;}
    .con03Img{margin:0;}
    .con03Img img{
        margin:0 auto;
        padding:50px 0;
    }
    .con03Txt{
        position:absolute;
        text-align:center;
        width:100%;
        top:50%;
        margin:0;
    }
    .con03Txt h2{
        font-size:30px;
        text-align:center;
    }
    .con03Txt p{
        text-align:center;
        font-size:30px;
    }
    
    /*메인컨텐츠4*/
    #wrapper{
        width:350px;
        margin:0 auto;
    }
    .mainCon04 .inner{margin:0 auto;}
    .mainCon04 .tabs li{
        width:100px;
        height:35px;
        line-height:35px;
        border-radius:20px 20px 0 0;
    }
    .mainCon04 .tabs li a{
        font-size:14px;
    }
    .tab_content{
        width:350px;
    }
    
    /*메인컨텐츠5*/
    .mainCon05 .tab_content2{
        width:100%;
        margin:0 auto;
    }
    .tab_content2 iframe{
        width:95%;
        margin:20px 0;
    }
    
    
    
    
    
    
    
    
    
    
}